<div class="back-image">

  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="anime" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #anime="matMenu">
        <button mat-menu-item >Death Note</button>
        <button mat-menu-item >My Hero Academia</button>
        <button mat-menu-item [matMenuTriggerFor]="Naruto">Naruto</button>
        <button mat-menu-item >One Punch Man</button>
      </mat-menu>
      
      <mat-menu #Naruto="matMenu">
        <button mat-menu-item>Naruto: Shonen Jump</button>
        <button mat-menu-item>Naruto Shippuden</button>
      </mat-menu>
  
      <span>Anime Website</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <div class="front-image">


<div class="container">
<a routerLink = "./naruto" routerLinkActive="active">
<mat-card  class="example-card" >
  <img height="170px" mat-card-image src="https://wallpaperaccess.com/full/3157296.jpg" 
  alt="Naruto Thumbnail">
  <mat-card-header>
    <mat-card-title class="card-title">Naruto: Shonen Jump</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      Guided by the spirit demon within him, orphoned Naruto Uzumaki learns to harness his powers as a ninja in this adventurous anime series. 
    </p>
  </mat-card-content>
  
</mat-card></a>

  <mat-card class="example-card" >
    <img height="170px" mat-card-image src="https://i.pinimg.com/originals/20/2c/55/202c5553c3bc77bd422bed4eb07f4aa4.jpg" 
    alt="Naruto Thumbnail">
    <mat-card-header>
      <mat-card-title class="card-title">Naruto: Shippuden</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        After 2 and a half years of training, Naruto finally returns. With his new trained ability, his goal of searching for long lost friend, Uchiha Sasuke, is set for a stronger determination than before.
      </p>
    </mat-card-content>
    
  </mat-card>
  
    <mat-card class="example-card" >
      <img height="170px" mat-card-image src="https://fanart.tv/fanart/tv/305074/tvthumb/my-hero-academia-5ce4e001cf127.jpg" 
      alt="My Hero Academia Thumbnail">
      <mat-card-header>
        <mat-card-title class="card-title">My Hero Academia</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          Middle schooler Izuku Midoriya has no quirk of his own, but that does'nt stop him from dreaming of becoming a Hero. 
        </p>
      </mat-card-content>
      
    </mat-card>
</div>

<div class="container">
    
      <mat-card class="example-card" >
        <img height="170px" mat-card-image src="https://static.bandainamcoent.eu/high/one-punch-man/one-punch-man-a-hero-nobody-knows/00-page-setup/opm_game-thumbnail.jpg" 
        alt="One Punch Man Thumbnail">
        <mat-card-header>
          <mat-card-title class="card-title">One Punch Man</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>
            Saitama is determined to become a superhero. After years of training he becomes strong and faces all sorts of monsters to protect humanity.
          </p>
        </mat-card-content>
        
      </mat-card>
     
        <mat-card class="example-card" >
          <img height="170px" mat-card-image src="https://roteironerd.com/wp-content/uploads/2017/08/death-note-3-o-caderno.jpg" 
          alt="Death Note Thumbnail">
          <mat-card-header>
            <mat-card-title class="card-title">Death Note</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
            <p>
              Brilliant but bored high school student Light Yagami suddenly finds himself holding the power of life and death in his hands.
            </p>
          </mat-card-content>
          
        </mat-card>

        <mat-card class="example-card" >
          <img height="170px" mat-card-image src="https://gottyj.files.wordpress.com/2014/02/wpid-wp-1393531899034.jpeg" 
          alt="Attack On Titan Thumbnail">
          <mat-card-header>
            <mat-card-title class="card-title">Attack On Titan</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
            <p>
              Several hundred years ago, humans were nearly exterminated by titans. Teenage boy Eren witness something horrific as city walls get destroyed by titans that appears of thin air.
            </p>
          </mat-card-content>
          
        </mat-card>
     
</div>
</div>
</div>
<!--Dont change anything below-->
<router-outlet></router-outlet>
